<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find sem_localise)/worlds/lm.world"/> -- Note: the world_name is with respect to GAZEBO_RESOURCE_PATH environmental variable -->
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="false"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <arg name= "DEBUG_LOCALISER"  default="false" doc="To display console debug logs for localiser node (my_MCL.py)"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find sem_localise)/urdf/m2wr.xacro'" />
    
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.5"/>
    
    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model m2wr -x $(arg x) -y $(arg y) -z $(arg z)" />
    <node name="visualiser" pkg="sem_localise" type="vis.py" output="screen"/>
    <node name="robot_control" pkg="sem_localise" type="controller.py" output="screen"/>
    <node name="sensor_read" pkg="sem_localise" type="read_laser_data.py" output="screen" />
    <node name="localiser_node" pkg="sem_localise" type="my_MCL.py" args="" output="screen" >
        <param name="plot" value="True" type="Boolean" />
    </node>
    <group if="$(arg DEBUG_LOCALISER)" >
        <node pkg="rosservice" type="rosservice" name="set_logger_level" args="call --wait /localiser_node/set_logger_level '{logger: 'rosout', level: 'DEBUG'}'"/>
     </group>
          
</launch>

